**.pdf
**.sln
**/.idea/*
**/out/*
**.iml
**.rar
**.zip
**/Debug/*
**.vcxproj.user
**.vcxproj.filters
**.vcxproj
**.sln
**/.vs/*
**.pptx
**.docx
**/operating_systems/*
**.djvu
**./RetinaUnet/*
**./probability_theory_and_statistics/*